@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Phiếu nhập kho";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

    var session = HttpContextAccessor.HttpContext.GetSessionUser();

    string apiList = "/Admin/MaterialImpStore/GridDataOfUser";
    var userType = 0;
    bool isAdmin = false;
    if (session.UserType == 10)
    {
        apiList = "/Admin/MaterialImpStore/GridDataOfAdmin";
        userType = 10;
        isAdmin = true;
    }
    else
    {
        var perJtable = session.GetPermission("MaterialImpStore", "GridDataOfAdmin");
        if (perJtable != null)
        {
            apiList = perJtable.ResourceApi;
            userType = 10;
        }
        else
        {
            perJtable = session.GetPermission("MaterialImpStore", "GridDataOfBranch");
            if (perJtable != null)
            {
                apiList = perJtable.ResourceApi;
                userType = 2;
            }
        }
    }
    bool hasPermissionMaterialImpStoreInsert = session.HasPermission(CommonUtil.Controller_MaterialImpStore, CommonUtil.Action_Insert);
    bool hasPermissionMaterialImpStoreUpdate = session.HasPermission(CommonUtil.Controller_MaterialImpStore, CommonUtil.Action_Update);
    bool hasPermissionMaterialImpStoreDelete = session.HasPermission(CommonUtil.Controller_MaterialImpStore, CommonUtil.Action_Delete);
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script>
    var PERMISSION_MaterialImpStore = {
        LIST: '@(apiList)',
        userType: @userType,
        IsAdmin: @(isAdmin ? "true" : "false"),
        Insert: @(hasPermissionMaterialImpStoreInsert ? "true" : "false"),
        Update: @(hasPermissionMaterialImpStoreUpdate ? "true" : "false"),
        Delete: @(hasPermissionMaterialImpStoreDelete ? "true" : "false"),
    };
</script>
<script src="~/views/admin/materialImpStore/controller.js" type="text/javascript"></script>