@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Điều hành việc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@{
    var session = HttpContextAccessor.HttpContext.GetSessionUser();
    bool hasPermissioOrderRequestInsert = session.HasPermission(CommonUtil.Controller_OrderRequestRaw, CommonUtil.Action_Insert);
    bool hasPermissionOrderRequestUpdate = session.HasPermission(CommonUtil.Controller_OrderRequestRaw, CommonUtil.Action_Update);
    bool hasPermissionOrderRequestDelete = session.HasPermission(CommonUtil.Controller_OrderRequestRaw, CommonUtil.Action_Delete);
    bool hasPermissionMaterialProductsInsert = session.HasPermission(CommonUtil.Controller_MaterialProduct, CommonUtil.Action_Insert);
    bool hasPermissionMaterialProductsUpdate = session.HasPermission(CommonUtil.Controller_MaterialProduct, CommonUtil.Action_Update);
    bool hasPermissionMaterialProductDelete = session.HasPermission(CommonUtil.Controller_MaterialProduct, CommonUtil.Action_Delete);
    var userName = session.UserName;
    var pictureUser = session.Picture;
    var fullName = session.FullName;
    var userId = session.UserId;
}
<script>
    var PERMISSION_ORDER_REQUEST = {
        Insert: @(hasPermissioOrderRequestInsert ? "true" : "false"),
        Update: @(hasPermissionOrderRequestUpdate ? "true" : "false"),
        Delete: @(hasPermissionOrderRequestDelete ? "true" : "false"),
    };
    var PERMISSION_MATERIAL_PRODUCT = {
        Insert: @(hasPermissionMaterialProductsInsert ? "true" : "false"),
        Update: @(hasPermissionMaterialProductsUpdate ? "true" : "false"),
        Delete: @(hasPermissionMaterialProductDelete ? "true" : "false"),
    };
    var userName = "@(userName)";
    var pictureUser = "@(pictureUser)";
    var fullName = "@(fullName)";
    var userId = "@(userId)";
</script>

@section plugin_style{
    <link href="~/css/admin/cardJob/board.css" rel="stylesheet" />
    <link href="~/css/admin/cardJob/list.css" rel="stylesheet" />
    <link href="~/css/admin/cardJob/plugin.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/dhx-gantt/skins/dhtmlxgantt_meadow.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet">
    <link href="~/lib/assets/global/plugins/fullcalendar-3.9.0/material-calender.min.css" rel="stylesheet" />
}
@section plugin_script{
    <script src="~/js/admin/cardjob/popover.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-scroll/angular-scroll.js"></script>
    <script src="~/js/admin/cardjob/sortable.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
    <script src="~/lib/assets/global/plugins/dhx-gantt/dhtmlxgantt.js"></script>
    <script src="~/lib/assets/global/plugins/dhx-gantt/ext/dhtmlxgantt_marker.js"></script>
    <script src="~/lib/assets/global/plugins/dhx-gantt/ext/dhtmlxgantt_smart_rendering.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/config.tinymce.js"></script>
    <script src="~/lib/assets/global/plugins/tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/assets/global/plugins/tagsinput/bootstrap-tagsinput-angular.min.js"></script>
    <script src="~/lib/assets/global/plugins/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/lib/assets/global/plugins/angular-chart.js/Chart.min.js"></script>
    <script src="~/lib/assets/global/plugins/angular-chart.js/angular-chart.min.js"></script>
}
<div id="contentMain" ng-app="App_ESEIM_CARD_JOB" ng-controller="Ctrl_ESEIM_CARDJOB">
    <div ng-controller="Ctrl_ESEIM_SUPPLIER"></div>
    <div ng-controller="Ctrl_ESEIM_PROJECT"></div>
    <div ng-controller="Ctrl_ESEIM_CUSTOMER"></div>
    <div ng-controller="Ctrl_ESEIM_CONTRACT"></div>
    <div ng-controller="Ctrl_ESEIM_CONTRACT_PO"></div>
    <div ng-controller="Ctrl_ESEIM_PRICE"></div>
    <div style="min-height:100px;height:100%" ng-view></div>
</div>
<script src="~/views/admin/cardJob/controller.js" type="text/javascript"></script>
<script src="~/views/admin/project/controller.js" type="text/javascript"></script>
<script src="~/views/admin/customer/controller.js" type="text/javascript"></script>
<script src="~/views/admin/supplier/controller.js" type="text/javascript"></script>
<script src="~/views/admin/contract/controller.js" type="text/javascript"></script>
<script src="~/views/admin/contractPo/controller.js" type="text/javascript"></script>
<script src="~/views/admin/sendRequestWorkPrice/controller.js" type="text/javascript"></script>
<script src="~/views/admin/serviceCategory/controller.js" type="text/javascript"></script>
<script src="~/views/admin/attributeManager/controller.js" type="text/javascript"></script>
<script src="~/views/admin/materialProduct/controller.js" type="text/javascript"></script>
